<nav class="top-bar" data-topbar>
<ul class="title-area">
    <li class="name">
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul>
      <li data-magellan-arrival="intro"><a href="#intro">INTRO</a></li>
      <li data-magellan-arrival="timeplan"><a href="#timeplan">TIMEPLAN</a><li>
      <!--<li data-magellan-arrival="culture"><a href="#culture">CULTURE</a><li>-->
      <li data-magellan-arrival="workshops"><a href="#workshops">WORKSHOPS</a><li>
      <!--<li data-magellan-arrival="journey"><a href="#journey">JOURNEY</a><li>
      <li data-magellan-arrival="archetype"><a href="#archetype">ARCHETYPES</a><li>
      <li data-magellan-arrival="gallery"><a href="#gallery">GALLERY</a><li>-->
    </ul>
  </section>
  </nav>
</div>





    <div class="fullwidth bgr block">
        <div class="row">
          <div class="large-12 columns">
              <h1 class="animated fadeIn">FJORD DIABETES PROJECT</h1>
              <h2 class="slogan animated fadeIn">THE ANSER IS IN THE DATA</h2>
          </div>
        </div>
    </div>



  <a name="intro"></a>
    <div class="row block">
      <div class="large-12 columns">
          <h3 data-magellan-destination="intro">INTRODUCTION</h3>
          <hr>
          <h2>I don't know why but I had to start it somewhere, so it started there.</h2>
          <p class="quote">-Pulp, Common People</p>
          <div class="row">
            <div class="medium-6 columns"><img class="small-image" src="/assets/computer.jpg">
            </div>
            <div class="medium-6 columns">
              <h3 class="sub">WELCOME!</h3>
              <p>Here is the introdution to the project in very broad level. <br>
								This is the home of the Fjord Diabetes project. We're aiming at ... 
              <span class="quote">-The Fjord team</span>
            </div>
          </div>
      </div>
    </div>


  <a name="timeplan"></a>
    <div class="row block">
      <div class="large-12 large-centered columns">
        <h3 data-magellan-destination="timeplan">THE TIMEPLAN</h3>
        <hr>
        <h2>The graph \ On the wall \ Tells the story \ Of it all</h2>
        <p class="quote">- Everything Counts, Depeche Mode</p>
    </div>
  </div>


<div id="timeline-embed"></div>

<!--

  <a name="culture"></a>
    <div class="row block">
      <div class="large-12 columns">
          <h3 data-magellan-destination="culture">THE AMBITION </h3>
          <hr>
          <h2>We asked everyone working on Pluto to write their launch tweet</h2>
          <p class="quote"></p>
      </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <ul class="example-orbit-content" data-orbit>
            <li data-orbit-slide="headline-1">
              <div class="medium-5 columns medium-push-1 columns">
                <p class="quote">You know how Netflix sucks? Well we’ve made it right. No more endless searching for stuff that doesn’t exist. Find it all in one place.</p>
                <p class="quote">It has never been easier to press play. Try out Sweden’s smartest streaming service Pluto.</p>
                <p class="quote">Blood, sweat & tears but as Steve used to say ”everything changes again”.</p>
              </div>
              <div class="medium-5 columns medium-pull-1 columns">
                <p class="quote">Just launched best service ever – just go there, you’ll understand.</p>
                <p class="quote">Just left Casten’s house – we got rid of his tv-tv cause he only uses Pluto now.</p>
                <p class="quote">Pluto – it’s finally here! Our new VOD service that will revolutionize your life.</p>
              </div>
            </li>
            <li data-orbit-slide="headline-2">
              <div class="medium-5 columns medium-push-1 columns">
                <p class="quote">It’s here! The must-have VOD service for all Swedes! #swedeniswatchingpluto</p>
                <p class="quote">My favorite show, on my favorite device. On my time. #pluto</p>
                <p class="quote">We’ve just launched this awesome, beautiful, kick ass, easy to use tv/film service. Check it out!</p>
              </div>
               <div class="medium-5 columns medium-pull-1 columns">
                <p class="quote">Finally, Bonnier’s storytellers, tech experts, content passionates and digital natives are coming together!! Now, no one can stop us!! YIHAA!</p>
                <p class="quote">This is why I have been hard to reach lately. Pluto, the new & fab way to watch TV launched today.</p>
                <p class="quote">We’re live, we’re different, we’re awesome! Now go watch some movies: pluto.se</p>
              </div>
            </li>
             <li data-orbit-slide="headline-3">
              <div class="medium-5 columns medium-push-1 columns">
                <p class="quote">Bye, bye Netflix here’s #pluto. Try it [link]!</p>
                <p class="quote">Finally, a one stop SVOD service that is easy to use and understand #Pluto</p>
                <p class="quote">t’s a place where you can spend a lot of time without reflecting upon it. It’s a nice way of spending time together.</p>
              </div>
              <div class="medium-5 columns medium-pull-1 columns">
                <p class="quote">We listened and now it’s here. Our world made for you needs.</p>
                <p class="quote">We turned the key. The engine runs – the journey begins…</p>
                <p class="quote">Finally!! Now I only need ONE streaming service #plutoishere</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
-->
<!--
    <div class="fullwidth">
          <img class="wide" src="/assets/header.jpg">
          <img class="wide" src="/assets/microsite.png">
    </div>

-->
    <div class="row block" id="workshops">
      <div class="large-12 columns">
        <a name="rumble"></a>
          <h3 data-magellan-destination="workshops">WORKSHOPS</h3>
          <hr>
          <h2>I can see clearly now the rain is gone</h2>
          <p class="quote">-Jimmy Cliff</p>
          <div class="row">
            <div class="medium-5 columns"><img src="/assets/DSC_0017.jpg">
            </div>
            <div class="medium-7 columns">
              <h3 class="sub">WORKSHOP NR. 1</h3>
              <p>A kick-off session with an intro to the project plus a Diabets one-on-one.</p>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
    <p></p>
    </div>
<!--
    <div class="row block" id="journey">
      <div class="twelve columns text-center">
        <a name="journey"></a>
          <h3 data-magellan-destination="journey">JOURNEY</h3>
          <hr>
          <h2>Don't stop believin', Hold on that feelin’</h2>
          <p class="quote">-Journey</p>
          <div class="row">
            <div class="large-12 large-centered columns">
            <img style="margin-top: 20px;" src="/assets/journey.png">
            </div>
          </div>
      </div>
    </div>

    <div class="row block" id="archetype">
      <div class="twelve columns text-center">
        <a name="archetype"></a>
          <h3 data-magellan-destination="archetype">ARCHETYPES</h3>
        <hr>
        <h2>Knowing me, knowing you (ah-haa), There is nothing we can do</h2>
        <p class="quote">-Abba</p>
        <div class="row">
          <div class="medium-4 columns">
            <img src="/assets/ball1.png">
            <h2 class="archetype">FOCUSED PLANNER</h2>
            <p class="quote">Makes a choice on a TV show and then concentrate on the choice.</p>
          </div>
          <div class="medium-4 columns">
            <img src="/assets/ball2.png">
            <h2 class="archetype">COMFORT SEEKER</h2>
            <p class="quote">Is looking to be inspired and entertained, but isn’t very decisive.</p>
          </div>
          <div class="medium-4 columns">
            <img src="/assets/ball3.png">
            <h2 class="archetype">CONFIDENT GRAZER</h2>
            <p class="quote">An enthusiastic and knowledgable fan, who doesn’t require hand-holding.</p>
          </div>
        </div>
        </div>
     </div>
-->
<!--
<a name="gallery"></a>
    <div class="row block" id="gallery">
      <div class="large-12 columns">
          <h3 data-magellan-destination="gallery">THE GALLERY</h3>
          <hr>
          <h2>We had joy, we had fun, We had seasons in the sun</h2>
          <p class="quote">-Terry Jacks</p>
          <div class="row">
            <div class="large-12 columns">
            <ul class="clearing-thumbs small-block-grid-3" data-clearing>
              <li><a href="img/IMG_1490.jpg"><img data-caption="Tore Fjaertoft presenting Team Ones insights.
" src="/assets/IMG_1490.jpg"></a></li>
              <li><a href="img/Untitled-1.jpg"><img data-caption="Workshop commencing. Launch tweets." src="/assets/Untitled-1.jpg"></a></li>
              <li><a href="img/IMG_1441.jpg"><img data-caption="Team Four and Three prioritising parts of the Customer Journey" src="/assets/IMG_1441.jpg"></a></li>
              <li><a href="img/IMG_1323.jpg"><img data-caption="Team Three discussing the Archetypes
" src="/assets/IMG_1323.jpg"></a></li>
              <li><a href="img/IMG_1313.jpg"><img data-caption="Team Three discussing the Archetypes
" src="/assets/IMG_1313.jpg"></a></li>
              <li><a href="img/IMG_1261.jpg"><img data-caption="Johan Seidefors presenting the different ecosystems
" src="/assets/IMG_1261.jpg"></a></li>
              <li><a href="img/IMG_1508.jpg"><img data-caption="Team Fours Henrik final presentation at the end of the day.
" src="/assets/IMG_1508.jpg"></a></li>
              <li><a href="img/IMG_1418.jpg"><img data-caption="Ruth Ann Shields, Rumble Master, discussing with Team Four
" src="/assets/IMG_1418.jpg"></a></li>
              <li><a href="img/sushi.jpg"><img data-caption="Lunch!" src="/assets/sushi.jpg"></a></li>
              <li><a href="img/IMG_1404.jpg"><img data-caption="Team Two revising their suggestions
" src="/assets/IMG_1404.jpg"></a></li>
              <li><a href="img/IMG_1344.jpg"><img data-caption="Team One placing suggested actions on the customer journey board" src="/assets/IMG_1344.jpg"></a></li>
              <li><a href="img/IMG_1504.jpg"><img data-caption="he final presentation, all participants listening
" src="/assets/IMG_1504.jpg"></a></li>
              <li><a href="img/IMG_1375.jpg"><img data-caption="Sketches and ideas
" src="/assets/IMG_1375.jpg"></a></li>
              <li><a href="img/IMG_1525.jpg"><img data-caption="Emmy showcasing group three suggestion for the customer journey" src="/assets/IMG_1525.jpg"></a></li>
            </ul>
            </div>
          </div>
      </div>
    </div>
-->
  <a name="people"></a>
    <div class="row block">
      <div class="large-12 medium-12 large-centered columns">
        <h3 data-magellan-destination="people">THE PEOPLE</h3>
        <hr>
        <h2>They will see us waving from such great heights</h2>
        <p class="quote">-The Postal Service</p>
        <div class="row">
            <div class="large-12 columns text-center">
              <ul class="small-block-grid-1 medium-block-grid-5">
                <li><img src="/assets/JONAS.png">
                <p class="name">Jonas Höglund</p>
                <p class="title">Design Director</p></li>
                <li><img src="/assets/people1.png">
                <p class="name">Ruth-Ann Shields</p>
                <p class="title">Design Lead</p></li>
                <li><img src="/assets/people2.png">
                <p class="name">Sofia Pörner</p>
                <p class="title">Service Design Lead</p></li>
                <li><img src="/assets/people3.png">
                <p class="name">Simon Högblom</p>
                <p class="title">Senior Visual Designer</p></li>
                <li><img src="/assets/people4.png">
                <p class="name">Ville Päivätie</p>
                <p class="title">Interaction Designer</p></li>
                <li><img src="/assets/ANDERS.png">
                <p class="name">Anders Mjöbring</p>
                <p class="title">Project Manager</p></li>
                <li><img src="/assets/TIAGO.png">
                <p class="name">Tiago Varandas</p>
                <p class="title">Visual Designer</p></li>
                <li><img src="/assets/DANIEL.png">
                <p class="name">Daniel Freeman</p>
                <p class="title">Group Director at Fjord</p></li>
                <li><img src="/assets/PER.png">
                <p class="name">Per Norqvist</p>
                <p class="title">Senior Interaction Designer</p></li>
                <li><img src="/assets/KB.png">
                <p class="name">Konstantin Berger</p>
                <p class="title">Creative Technologist</p></li>
                <li></li>
              </ul>
            </div>
        </div>


    <footer class="row">
      <div class="large-12 columns"><hr><p class="footer">Copyright Fjord Design and Innovation from Accenture Interactive 2015</p></div>
    </footer>
    <script type="text/javascript">
        var timeline_config = {
            width:              '100%',
            height:             '500',
            source:             'https://docs.google.com/a/stixyexperience.com/spreadsheet/pub?key=0AgwIOonWYXs_dDRwT1JHTExRWTJ6elZhWS1mdWhkdkE&output=html',
            embed_id:           'timeline-embed',               //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
            start_at_end:       true,                          //OPTIONAL START AT LATEST DATE
            start_at_slide:     '0',                            //OPTIONAL START AT SPECIFIC SLIDE
            start_zoom_adjust:  '0',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
            hash_bookmark:      false,                           //OPTIONAL LOCATION BAR HASHES
            font:               'Lato-Helvetica',             //OPTIONAL FONT
            debug:              false,                           //OPTIONAL DEBUG TO CONSOLE
            lang:               'en',                           //OPTIONAL LANGUAGE
            maptype:            'watercolor',                   //OPTIONAL MAP STYLE
            css:                '/assets/timeline/timeline.css',     //OPTIONAL PATH TO CSS
            js:                 '/assets/timeline/timeline-min.js'    //OPTIONAL PATH TO JS
        }
    </script>
    <script type="text/javascript" src="https://s3.amazonaws.com/cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
